<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
  </div>
  
<div class="navigation1">
  
<ul class="menu">
<li class="menu__entry"><a href="{{ '/work' | prepend: site.baseurl }}">Work</a></li>
<li class="menu__entry"><a href="{{ '/writing' | prepend: site.baseurl }}">Writing</a></li>
<li class="menu__entry"><a href="{{ '/music' | prepend: site.baseurl }}">Music</a></li> 
<li class="menu__entry"><a href="{{ '/art' | prepend: site.baseurl }}">Art</a></li>
<li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li> 
</div>
</ul>

</header>
